header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 100vw;
    padding-top: 2px;
    background-color: var(--white);
    box-shadow: 0px 2px 4px #7a7a7a57;
}

header .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4px 8px;
}

header .user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo-container img {
    width: 48px;
    height: 48px;
}

header .text-container h3 {
    font-family: 'Arial';
    color: var(--black-text);
    font-weight: normal;
    font-size: 1.1em;
}

header .user-name p {
    font-family: 'News Gothic Italic';
    color: var(--gray-text);
}

header .left-line {
    width: 8px;
    height: 1px;
    background-color: var(--gray-text);
    margin: 0 5px;
}

header .right-line {
    width: 36px;
    height: 1px;
    background-color: var(--gray-text);
    margin: 0 5px;
}