/* You can add global styles to this file, and also import other style files */
:root {
    --background: #efefef;
    --white: #ffffff;
    --red: #fc0049;
    --blue: #0058fe;
    --green: #958a0c;
    --black-text: #000000;
    --gray-text: #7a7a7a;
}

* {
    font-family: 'Arial';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

@font-face {
    font-family: 'Arial Narrow Regular';
    src: url('assets/fonts/arial-narrow-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'News Gothic Italic';
    src: url('assets/fonts/news-gothic-light-italic.otf') format('truetype');
}